data/bci/x.mat filter=lfs diff=lfs merge=lfs -text
data/bci/hw1/ filter=lfs diff=lfs merge=lfs -text
data/bci/hw3/ filter=lfs diff=lfs merge=lfs -text
papers/ filter=lfs diff=lfs merge=lfs -text
nobel-laureates-neuroscience/ filter=lfs diff=lfs merge=lfs -text
SIPR_20171101_Nov_2017.pdf filter=lfs diff=lfs merge=lfs -text
neo-cognitron/ filter=lfs diff=lfs merge=lfs -text
data/bci/hw4/ filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/ filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/SarahFace.mat filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/SarahFlipped.mat filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/eloc16.txt filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/BahramFlipped.mat filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/DJFlipped.mat filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/NickFace.mat filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/RoohiFace.mat filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/RoohiFlipped.mat filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/epoching.m filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/BahramFace.mat filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/DJFace.mat filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-final/NickFlipped.mat filter=lfs diff=lfs merge=lfs -text
data/bci/bci-project-data-RAW/ filter=lfs diff=lfs merge=lfs -text
